
<form [formGroup]="form" class="row">

    <mat-form-field appearance="fill" class="col-12">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
      <mat-error *ngIf="form.get('nome')?.hasError('required')">
        Nome é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12">
      <mat-label>Sobrenome</mat-label>
      <input matInput formControlName="sobrenome">
      <mat-error *ngIf="form.get('sobrenome')?.hasError('required')">
        Sobrenome é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        Email é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="telefone" type="tel">
      <mat-error *ngIf="form.get('telefone')?.hasError('required')">
        Telefone é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="senha" type="password">
      <mat-error *ngIf="form.get('senha')?.hasError('required')">
        Senha é obrigatória
      </mat-error>
    </mat-form-field>

</form>

    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="salvar()">
      Salvar
    </button>
